HERE
/build
/.idea
/dist
/release
/captures
/gradle/wrapper
/gradlew*
/.gradle
/.externalNativeBuild
**/build

**/*.apk
**/androidpublisher.dat
**/client_secrets.json
**/keystore
**/*keystore*
**/google-services.json
**/*.iml
**.iml
signing.gradle

Treebolic/
TreebolicAll/
TreebolicContacts/
TreebolicFiles/
TreebolicLib/
TreebolicOne/
TreebolicPay/
TreebolicPlants/
TreebolicFungi/
TreebolicSumo/
TreebolicPlugins/
TreebolicRoyals/
TreebolicServices/
TreebolicSupportLibs/
TreebolicSponsorLibs/
TreebolicWordNet/

